<div class="container">
  <div class=jumbotrom align="center">
    <h1>Afim de uma vaga?</h1>
    <p> Encontre a sua vaga na Job GO!</p>
    <%= link_to 'Criar Vaga', new_job_path, class: 'btn btn-primary' %>
  </div>
</div>
<br>
<div class="container">
  <% unless @jobs.exists? %>
  <div class="alert alert-warning" role="alert" align="center">
    <i class="far fa-frown"></i> Nenhuma vaga disponível
  </div>
  <% else %>
  <div class="row">
    <% @jobs.each do |job| %>
    <% unless job.expired? %>
    <div class="col-md-4">
      <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><%= job.title %></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title"><small class="text-muted"><i class="fas fa-clipboard-list"></i> <%= job.description %></small></h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li><i class="fas fa-map-marker-alt"></i> <%= job.location %></li>
                <% if job.recent? %>
                  <li><i class="far fa-calendar-alt"></i> Vaga recente: <%= person_date job.created_at %></li>
                <% else %>
                  <li>
                    <i class="far fa-calendar-alt"></i> Vaga com mais de 5 dias: <%= person_date job.created_at %>
                  </li>
                <% end %>
                <li><i class="fa fa-tag"></i> Categoria: <%= job.category.name %></li>
                <li><i class="far fa-building"></i> Empresa: <%= job.company.name %><li>
                <% if job.featured? %>
                <li><i class="fa fa-star fa-2x text-warning"></i></li>
                <% else  %>
                <li><i class="fa fa-briefcase fa-2x text-primary"></i></li>
                <% end %>
              </ul>
              <%= link_to job_path(job), class: "btn btn-outline-success" do %>
                <i class="fas fa-binoculars"></i>
                VER DETALHES
              <% end %>
              <br>
              <br>
              <%= link_to edit_job_path(job), class: "btn btn-outline-warning" do %>
                <i class="fa fa-edit"></i>
                EDITAR
              <% end %>
              <%= link_to job_path(job), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Você tem certeza que deseja excluir essa vaga? :|" } do %>
                <i class="far fa-trash-alt"></i>
                DELETAR
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
  <div class="jumbotron" align="center">
    <div class="container">
      <i class="far fa-building fa-4x"></i>
      <h1>Cadastre a sua empresa</h1>
      <p>
        Seja o nosso parceiro, os melhores profissionais
        estão a um clique de encontrar a sua vaga.
        Com apenas algumas informações a sua empresa
        estará pronta para o JobGO!
      </p>
      <p>
        <%= link_to 'Criar Empresa', new_company_path, class: "btn btn-success" %></a>
      </p>
      <p align="center">Abaixo a lista das empresas participantes!</p>

      <% unless @companies.exists? %>
      <div class="alert alert-warning" role="alert" align="center">
        <i class="far fa-frown"></i> Nenhuma empresa cadastrada
      </div>
      <% else %>
      <div class="row">
        <% @companies.each do |company| %>
        <div class="col-md-4">
          <div class="card-deck mb-3 text-center">
              <div class="card mb-4 style="max-width: 18rem;"">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"><%= company.name %></h4>
                </div>
                <div class="card-body text-dark">
                  <h4 class="card-title pricing-card-title">
                    <small class="text-muted"><i class="fa fa-envelope"></i>
                      <%= company.mail %>
                    </small>
                  </h4>
                  <h4 class="card-title pricing-card-title">
                    <small class="text-muted">
                      <i class="fa fa-phone"></i>  <%= company.phone %>
                    </small>
                  </h4>
                  <h4 class="card-title pricing-card-title">
                    <small class="text-muted">
                      <i class="fa fa-map-marker-alt"></i>
                      <%= company.location %>
                    </small>
                  </h4>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>
                    <% if company.premium? %>
                      <%= image_tag('estrela.png', alt: 'premium') %>
                    <% end %>
                    </li>
                    <br>
                    <li>
                      <i class="far fa-hand-point-down fa-2x"></i>
                      Confira abaixo as vagas desta empresa
                    </li>
                    <br>
                    <li>
                      <%= link_to "Vamos lá",
                        company_path(company),
                        class: "btn btn-lg btn-block btn-outline-danger" %>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container" align="center">
  <h2>Ou escolha uma categoria.</h2>

  <p>
    Não encontrou nenhuma, basta cadastrar, ou confira as <strong>vagas por categoria</strong>
  </p>

  <%= link_to 'Criar Categoria', new_category_path, class: "btn btn-info" %>
  <br><br>

  <div><i class="far fa-grin-beam fa-4x"></i></i></div>
  <br>
  <p><strong>Clique</strong> em uma <strong>categoria</strong> para conferir as vagas</p>
  <br><br>

  <% unless @categories.exists? %>
  <div class="alert alert-warning" role="alert" align="center">
    <i class="far fa-frown"></i> Nenhuma categoria cadastrada
  </div>
  <% else %>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category), class: "btn btn-outline-success" %>
  <% end %>
  <% end %>
</div>

<br>

<footer class="footer">
  <div class="footer-copyright text-center text-black-50 py-3">2018:
    <a class="dark-grey-text" href="http://diegonoronha.com.br/" target="_blank"> Feito com o <i class="fa fa-heart"></i> Diego Noronha</a>
  </div>
</footer>
