<% @jobs.each do |job| %>
  <% unless job.expired? %>
    <section>
      <h1><%= link_to job.title, job %></h1>
      <p><%= job.company.name %></p>
      <p><%= job.location %></p>
      <% if job.featured? %>
        <p><strong>Destaque</strong></p>
      <% end %>
    </section>
  <% end %>
<% end %>
<section>
  <% @companies.each do |company| %>
    <%= link_to company.name, company_path(company) %><br>
  <% end %>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
  <% end %>
</section>
