<section>
  <h1><%= @company.name %></h1>
  <p>Local:<%= @company.location%></p>
  <p>Email:<%= @company.mail %></p>
  <p>Telefone:<%= @company.phone %></p>
    <% if @company.premium? %>
      <%= image_tag 'estrela.png' %>
    <% end %>
</section>
<%= render(@company.jobs) || 'Nenhuma vaga disponível'%>
<%= link_to 'Voltar', root_path %>
